*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #031321, #d82e2e);
}
.card{
    position: relative;
    width: 350px;
    height: 190px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 40px 80px rgba(0, 0, 0,0.15);
    transition: 1s;
}
.card:hover{
    height: 450px;
}
.imgbx{
    position: absolute;
    left: 50%;
    top: -80px;
    transform: translateX(-50%);
    background: rgb(255, 255, 255);
    height: 150px;
    width: 150px;
    box-shadow: 0 40px 80px rgba(0, 0, 0,0.35);
    border-radius: 20px;
    overflow: hidden;
}
.imgbx img{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}